body  {
          


	background-color: #808080;
}

h4.image_title {
				position: relative;
				left: 100px;
			}
			h4.image_title {
				position: fixed;
				left: 300px;
			}
h1 {
	color: blue;
	text-align: center;
}
h2{
	color:#00FF00 ;
	
}

p{
	font-family: Elephant;
	font-size: 25;
	color: black; 
}